<div class= "col-10 offset-1 about">
  <h1>About the Pun Machine!</h1>

  <p>
    The Pun Machine was built by <a target="_blank" href="https://github.com/rgbrobt">Robert</a> while attending <a target="_blank" href="https://www.thefirehoseproject.com">The Firehose Project</a> in 2017. Robert is progressing through the program to gain skills and become a web developer. His project goals include a twitter instrument, an ambient air traffic sensor, and many others.
  </p>
  <br />
  <p>
    This app is the first of several projects. It's goal is to bring groans and hilarity to those who visit the site. Feel free to submit your own fun puns!
  </p>
  <br />
 
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'rg.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Robert Garvin</h2>
      <br />
      <p>
       Robert is a professional web developer specializing in full-stack devlopment He has experinece with Ruby, Rails, Javascript, and building web applications. He is motivated to create with excellence and attention to detail, and strives to go above and beyond in his creations.
      </p>
    </div>
  </div>
<br class="clear" />
<br />
<br />
<br />
<br />

</div>