<h2>
  <span> Pun No. <%= @quote.id %>: &nbsp</span>
  <%= @quote.saying1 %>
</h2>
<br />
<br />
<h1><%= @quote.punchline %></h1>
<br />
<br />
<h3 class="float-right">- <%= @quote.author %></h3>

<br class="clear" />
<br />
<br />
<br />
<br />